@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');
/*REMOVE LATER*/
.model-title__award p {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}


/*GLOBAL STYLES*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Manrope', sans-serif;
    background-color: #1D1E20;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 800;
    font-size: 20px;
    color: #fff;
}
h3 {
    font-weight: 800;
    font-size: 20px;
    color: #fff;
}

h4 {
    font-weight: 800;
    font-size: 14px;
    color: #fff;
}

#page-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(70px, auto) auto min-content;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    gap: 5px;
    height: 50px;
    width: fit-content;
    padding: 0 30px;
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    text-decoration: none;
}

.btn * {
    pointer-events: none;
}

.btn--mobile-small {
    height: 34px;
    padding: 6px 18px;
}

.btn--mobile-xs {
    height: 34px;
    padding: 10px;
    font-size: 14px;
}

.btn--red {
    background: #8C171E;
    color: #fff;
}

.btn--red:hover {
    background: linear-gradient(0deg, #BE1C25, #BE1C25), #8C171E;
}

.btn--pink {
    color: #fff;
    background: linear-gradient(180deg, #FA00FF 0%, #FF4F4F 100%), linear-gradient(180deg, #01D52F 0%, #00F335 100%);
}

.btn--pink:hover {
    background: linear-gradient(180deg, #24D135 0%, #4E8B5B 100%), linear-gradient(180deg, #01D52F 0%, #00F335 100%);
}

.btn--yellow {
    background: linear-gradient(0deg, #FFC30A, #FFC30A), #2DC115;
}

.btn--yellow p {
    color: #000;
}

.btn--yellow:hover {
    background: linear-gradient(0deg, #FBFF31, #FBFF31), #8C171E;
}

.btn--yellow .icon-container {
    color: #6C060C;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 30px;
    }
    .btn--mobile-small,
    .btn--mobile-xs {
        height: 50px;
        padding: 0 30px;
        font-size: inherit;
    }
    #page-container {
        grid-template-rows: minmax(90px, auto) auto min-content;
    }
}
@media only screen and (min-width: 1275px) {
    h2 {
        font-size: 40px;
    }
}


/*VIDEOS AND MODELS BLOCK*/
.videos-block,
.models-block {
    margin: 50px 0;
}
.videos-block__container,
.models-block__container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.videos-block__titles,
.models-block__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videos-block__titles {
    gap: 10px;
}

.models-block__titles {
    gap: 50px;
}

@media only screen and (min-width: 768px) {
    .videos-block__titles,
    .models-block__titles {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .videos-block__titles {
        gap: 30px;
    }
    .models-block__titles {
        column-gap: 30px;
        row-gap: 50px;
    }
}

@media only screen and (min-width: 1275px) {
    .videos-block,
    .models-block {
        padding: 0 30px;
    }
    .videos-block__titles {
        display: grid;
        grid-template-columns: repeat(3, minmax(340px, 600px));
        grid-template-rows: repeat(auto-fit, minmax(188px, 1fr));
    }
    .models-block__titles {
        display: grid;
        grid-template-columns: repeat(3, minmax(340px, 450px));
    }
    .videos-block__container,
    .models-block__container {
        gap: 35px;
    }
}

@media only screen and (min-width: 1510px) {
    .models-block__titles {
        grid-template-columns: repeat(4, minmax(340px, 450px));
    }
}
