<div class="auth-block__container">
  <h2>AUTHORIZATION</h2>
  <div class="auth-block__group">
    <div class="auth-block__half">
      <form class="auth-block__form">
        <input name="login" type="text" class="auth-block__form-input" placeholder="Login or email">
        <input name="password" type="password" class="auth-block__form-input" placeholder="Password">
        <input type="submit" class="btn btn--form btn--full btn--yellow" value="LOG IN">
      </form>
      <a href="restore.html" class="btn btn--link-g">I forgot password</a>
      <a href="" class="btn btn--link-g">Need help?</a>
    </div>
    <div class="auth-block__half">
<!--      BENEFITS BANNER RENDER HERE-->
    </div>
  </div>
</div>
