<div class="auth-block__container">
  <h2>AUTHORIZATION</h2>
  <div class="auth-block__group">
    <div class="auth-block__half">
      <form class="auth-block__form">
        <input type="text" class="auth-block__form-input" placeholder="Login or email">
        <input type="password" class="auth-block__form-input" placeholder="Password">
        <input type="submit" class="btn btn--form btn--full btn--yellow" value="LOG IN">
      </form>
      <a href="" class="btn btn--link-g">I forgot password</a>
      <a href="" class="btn btn--link-g">Need help?</a>
    </div>
    <div class="auth-block__half">
      <div class="auth-block__benefits">
        <p class="auth-block__benefits-header">BUY ACCESS TO GET:</p>
        <ul class="auth-block__benefits-list">
          <li>100% Exclusive Content</li>
          <li>Real amateur girls</li>
          <li>Members submit video ideas</li>
          <li>High Quality</li>
          <li>Regular Updates</li>
          <li>Access to bonus content</li>
        </ul>
        <p class="auth-block__benefits-text">Not your typical pornstars that you see everywhere, but your average everyday next door girls!</p>
        <p class="auth-block__benefits-promo">24/7 Support Day and Night</p>
      </div>
    </div>
  </div>
</div>
