<div class="benefits-banner__container">
  <p class="benefits-banner__header"></p>
  <ul class="benefits-banner__list">
    <li>100% Exclusive Content</li>
    <li>Real amateur girls</li>
    <li>Members submit video ideas</li>
    <li>High Quality</li>
    <li>Regular Updates</li>
    <li>Access to bonus content</li>
  </ul>
  <p class="benefits-banner__text">Not your typical pornstars that you see everywhere, but your average everyday next door girls!</p>
  <p class="benefits-banner__promo">24/7 Support Day and Night</p>
</div>
