<div class="buy-access-block__container">
  <h2>buy access and enjoy</h2>
  <p class="buy-access-block__secure-text">100% Safe , Secure & Discreet Transaction</p>
  <div class="buy-access-block__event">
    <p>Have a Great Valentine’s Day! 🔥<br>
      UP TO 70% OFF! 🥳</p>
  </div>
  <div class="buy-access-block__tariff-plans">
    <div class="buy-access-block__tariff buy-access-block__tariff--best buy-access-block__tariff-12">
      <div class="buy-access-block__tariff-header">
        <div class="buy-access-block__icon-container">
          
        </div>
        <p><span>12 month</span> membership</p>
      </div>
      <div class="buy-access-block__tariff-offer"></div>
      <p class="buy-access-block__tariff-text"></p>
      <a href="" class="btn btn--pink btn--classic btn--full-xs">JOIN NOW</a>
    </div>
    <div class="buy-access-block__tariff buy-access-block__tariff--black buy-access-block__tariff-6">
      <div class="buy-access-block__tariff-header"></div>
      <div class="buy-access-block__tariff-offer"></div>
      <p class="buy-access-block__tariff-text"></p>
      <a href="" class="btn btn--pink btn--classic btn--full-xs">JOIN NOW</a>
    </div>
    <div class="buy-access-block__tariff buy-access-block__tariff--black buy-access-block__tariff-1">
      <div class="buy-access-block__tariff-header"></div>
      <div class="buy-access-block__tariff-offer"></div>
      <p class="buy-access-block__tariff-text"></p>
      <a href="" class="btn btn--pink btn--classic btn--full-xs">JOIN NOW</a>
    </div>
  </div>
</div>
