<div class="buy-access-block__container">
  <div class="header__container">
    <h2>buy access and enjoy</h2>
    <p class="buy-access-block__secure-text">100% Safe , Secure & Discreet Transaction</p>
    <div class="buy-access-block__event">
      <p>Have a Great Valentine’s Day! 🔥<br>
        UP TO 70% OFF! 🥳</p>
    </div>
  </div>
  <div class="buy-access-block__tariff-plans">
    <div class="buy-access-block__tariff buy-access-block__tariff--best buy-access-block__tariff-12">
      <div class="buy-access-block__tariff-header">
        <div class="buy-access-block__icon-container">
          <img src="/assets/images/crown1 1.png" alt="">
        </div>
        <p><span>12 month</span> membership</p>
      </div>
      <div class="buy-access-block__tariff-offer buy-access-block__tariff-offer--green">
        <p class="buy-access-block__text buy-access-block__text--yellow">
          Only <span>16.64$</span>/Month
        </p>
        <p class="buy-access-block__text buy-access-block__text--pink">
          <span>38.64$/Month</span> 57% off
        </p>
      </div>
      <p class="buy-access-block__tariff-text">
        Billed in one payment of $199.73 <span>$463.68</span>
      </p>
      <a href="buyAccess.html" class="btn btn--classic btn--pink btn--promo-lg btn--full join-now-button">JOIN NOW</a>
    </div>
    <div class="buy-access-block__tariff buy-access-block__tariff--black buy-access-block__tariff-4">
      <div class="buy-access-block__tariff-header">
        <div class="buy-access-block__icon-container">
          <img src="/assets/images/crown2 1.png" alt="">
        </div>
        <p><span>4 month</span> membership</p>
      </div>
      <div class="buy-access-block__tariff-offer buy-access-block__tariff-offer--gray">
        <p class="buy-access-block__text buy-access-block__text--yellow">
          Only <span>16.64$</span>/Month
        </p>
        <p class="buy-access-block__text buy-access-block__text--pink">
          <span>38.64$/Month</span> 57% off
        </p>
      </div>
      <p class="buy-access-block__tariff-text">
        Billed in one payment of $89.73 <span>$154.56</span>
      </p>
      <a href="buyAccess.html" class="btn btn--classic btn--pink btn--promo-lg btn--full join-now-button">JOIN NOW</a>
    </div>
    <div class="buy-access-block__tariff buy-access-block__tariff--black buy-access-block__tariff-1">
      <div class="buy-access-block__tariff-header">
        <div class="buy-access-block__icon-container">
          <img src="/assets/images/4-41341_brown-eyes-clipart-google-eyes-grey-eyes-clip 1.png" alt="">
        </div>
        <p><span>monthly</span> membership</p>
      </div>
      <div class="buy-access-block__tariff-offer buy-access-block__tariff-offer--gray">
        <p class="buy-access-block__text buy-access-block__text--yellow">
          Only <span>16.64$</span>/Month
        </p>
        <p class="buy-access-block__text buy-access-block__text--pink">
          <span>38.64$/Month</span> 57% off
        </p>
      </div>
      <p class="buy-access-block__tariff-text">
        Recurring every 30 days
      </p>
      <a href="buyAccess.html" class="btn btn--classic btn--pink btn--promo-lg btn--full join-now-button">JOIN NOW</a>
    </div>
  </div>
</div>
