<div class="comments-block__container">
  <h2>ALL COMMENTS (3)</h2>
  <div class="comments-block__login">
    <p><a href="">Login</a> or <a href="">Sign Up</a> now to post a comment!</p>
  </div>
    <div class="comments-block__filters filters-block">
      <div class="comments-block__selector">
        <label for="type">Sort comments by: </label>
        <select id="type" name="type">
          <option>Latest</option>
          <option>Most popular</option>
          <option>Oldest</option>
        </select>
      </div>
  </div>
  <div class="comments-block__comment">
    <div class="comments-block__user">
      <div class="comments-block__avatar">
        <img src="/assets/temp/ava.jpg" alt="">
      </div>
      <div class="comments-block__username">
        <a href="">Brendon47386</a>
      </div>
      <div class="comments-block__date">
        <p>3 days ago</p>
      </div>
    </div>
    <div class="comments-block__text">
      <p>Please make more of these videos, so hot</p>
    </div>
    <div class="comments-block__controls"></div>
  </div>
  <div class="comments-block__comment">
    <div class="comments-block__user">
      <div class="comments-block__avatar">
        <img src="/assets/temp/ava.jpg" alt="">
      </div>
      <div class="comments-block__username">
        <a href="">Jenny Lux</a>
      </div>
      <div class="comments-block__date">
        <p>3 days ago</p>
      </div>
    </div>
    <div class="comments-block__text">
      <p>step sis in ripped jeans caught masturbating while watching porn and gets fucked until creampie - step bro helps his step sister and fuckd her hard while she masturbating in ripped pants - Press like if you would like to be my step bro and see me in this ripped jeans 😜 what would you like to do with me? Enjoy 😜</p>
    </div>
    <div class="comments-block__controls"></div>
  </div>
  <div class="comments-block__comment">
    <div class="comments-block__user">
      <div class="comments-block__avatar">
        <img src="/assets/temp/ava.jpg" alt="">
      </div>
      <div class="comments-block__username">
        <a href="">Shyla777</a>
      </div>
      <div class="comments-block__date">
        <p>3 days ago</p>
      </div>
    </div>
    <div class="comments-block__text">
      <p>she was masturbating to her own video lmfao</p>
    </div>
    <div class="comments-block__controls"></div>
  </div>
</div>
