<div class="message-block__container message-block__container--background-red message-block__container--dimensions">
    <p class="message-block__intro">Привет, <span>cyveiliog2</span>, нам нужно ваше внимание на минуту:</p>
    <p class="message-block__text">We have exciting news upcoming very soon, and we want to make sure you don't miss them!<br>
        Would this be the correct email to contact you at cyveiliog@gmail.com?<br>
        So cyveiliog2, let's be in touch? ( We promise we won't bug you + you can unsubscribe anytime ) ..</p>
    <div class="message-block__buttons">
        <a href="" class="btn btn--classic btn--pink">COUNT ME IN</a>
        <a href="" class="btn btn--classic btn--red">NO</a>
    </div>
</div>
