<div class="models-block__container">
  <h2>MODELS</h2>
  <div id="modelsBlockTitles" class="models-block__titles">
  </div>
  <div class="models-block__button-container">
    <div class="pager-container">
      <a href="" class="btn btn--pager btn--pager-active">1</a>
      <a href="" class="btn btn--pager btn--pager-inactive">2</a>
      <a href="" class="btn btn--pager btn--pager-inactive">3</a>
      <a href="" class="btn btn--pager btn--pager-inactive btn--pager-s">4</a>
      <a href="" class="btn btn--pager btn--pager-inactive btn--pager-s">5</a>
      <a href="" class="btn btn--pager btn--pager-inactive btn--pager-s">6</a>
      <a href="" class="btn btn--pager btn--pager-inactive btn--pager-s">7</a>
      <a href="" class="btn btn--pager btn--pager-inactive btn--pager-s">8</a>
      <a href="" class="btn btn--pager btn--pager-inactive btn--pager-s">9</a>
      <a href="" class="btn btn--pager btn--pager-inactive btn--pager-s">10</a>
      <a href="" class="btn btn--classic btn--red">NEXT</a>
    </div>
  </div>
</div>
