<div class="models-block__filters filters-block">
    <div class="models-block__selector">
        <label for="type">Sort models by: </label>
        <select id="type" name="type">
            <option>Latest</option>
            <option>Most popular</option>
            <option>Newest</option>
        </select>
    </div>

    <div class="models-block__selector">
        <label for="gender">Gender: </label>
        <select id="gender" name="gender">
            <option>All</option>
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>

    <div class="models-block__selector">
        <label for="ethnicity">Ethnicity: </label>
        <select id="ethnicity" name="ethnicity">
            <option>All</option>
            <option>Some</option>
            <option>Elf</option>
        </select>
    </div>

    <div class="models-block__selector">
        <label for="hairColor">Hair color: </label>
        <select id="hairColor" name="hairColor">
            <option>Blonde</option>
            <option>Brown</option>
            <option>Green</option>
        </select>
    </div>

    <div class="models-block__selector">
        <label for="breast">Breast type: </label>
        <select id="breast" name="breast">
            <option>All</option>
            <option>Some</option>
            <option>None</option>
        </select>
    </div>

    <div class="models-block__selector">
        <label for="cup">Cup size: </label>
        <select id="cup" name="cup">
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </div>

    <div class="models-block__selector">
        <label for="age">Age: </label>
        <select id="age" name="age">
            <option>Young</option>
            <option>Old</option>
            <option>Medium</option>
        </select>
    </div>

    <div class="models-block__selector">
        <label for="tattoo">Tattoo: </label>
        <select id="tattoo" name="tattoo">
            <option>All</option>
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>

    <div class="models-block__selector">
        <label for="piercing">Piercing: </label>
        <select id="piercing" name="piercing">
            <option>All</option>
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>

</div>
