<div class="news-block__container">
    <h2>NEWS</h2>
    <div class="news-block__filters filters-block">
        <div class="news-block__selector">
            <label for="type">Sort news by: </label>
            <select id="type" name="type">
                <option>Latest</option>
                <option>Most popular</option>
                <option>Oldest</option>
            </select>
        </div>
    </div>
    <div id="newsList" class="news-block__list">
    </div>
    <div class="news-block__button-container">
    </div>
</div>
