<div class="profile-settings-block__container">
  <h2>PROFILE SETTINGS</h2>
  <div class="profile-settings-block__form-container">
    <div class="profile-settings-block__form-block">
      <p class="form-block__header">Change Personal Photo:</p>
      <form class="restore-block__form">
        <input type="text" class="restore-block__form-input" placeholder="Display name">
        <input type="text" class="restore-block__form-input" placeholder="Photo (minimum 90x90)">
        <input type="submit" class="btn btn--form btn--full btn--yellow" value="CHANGE">
      </form>
    </div>
    <div class="profile-settings-block__form-block">
      <p class="form-block__header">Change Account Password:</p>
      <form class="restore-block__form">
        <input type="password" class="restore-block__form-input" placeholder="Current password">
        <input type="password" class="restore-block__form-input" placeholder="New password (at least 5 characters please)">
        <input type="password" class="restore-block__form-input" placeholder="New password confirmation (re-type your password)">
        <input type="submit" class="btn btn--form btn--full btn--yellow" value="SEND AN APPEAL">
      </form>
    </div>
    <div class="profile-settings-block__form-block">
      <p class="form-block__header">Change Account Email:</p>
      <form class="restore-block__form">
        <input type="email" class="restore-block__form-input" placeholder="Current email">
        <input type="email" class="restore-block__form-input" placeholder="New email">
        <input type="submit" class="btn btn--form btn--full btn--yellow" value="SEND AN APPEAL">
      </form>
    </div>
  </div>
</div>
