<div class="profile-settings-block__container">
  <div class="header__container">
    <h2>PROFILE SETTINGS</h2>
  </div>
  <div class="profile-settings-block__form-container">
    <div class="profile-settings-block__form-block">
      <p class="form-block__header">Change Personal Photo:</p>
      <form class="profile-settings-block__form">
        <input type="text" class="profile-settings-block__form-input" placeholder="Display name">
        <div class="profile-settings-block__form-input profile-settings-block__photo-upload">
          <p>Photo (minimum 90x90)</p>
          <div class="profile-settings-block__icon-container">
            <svg viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="link-1107-svgrepo-com 1">
                <g id="Page-1">
                  <g id="Dribbble-Light-Preview">
                    <g id="icons">
                      <path id="link-[#1107]" fill-rule="evenodd" clip-rule="evenodd" d="M4.4 12.0999H17.6V9.8999H4.4V12.0999ZM13.2 4.3999V6.5999H19.8V15.3999H13.2V17.5999H22V4.3999H13.2ZM2.2 15.3999H8.8V17.5999H0V4.3999H8.8V6.5999H2.2V15.3999Z" fill="currentColor"/>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <input id="profileSettingsPhotoUpload" type="file" name="personalPhoto" accept="image/png, image/jpeg" class="profile-settings-block__form-input--hidden">
        <button type="submit" class="btn btn--form btn--full btn--yellow"><p>CHANGE</p></button>
      </form>
    </div>
    <div class="profile-settings-block__form-block">
      <p class="form-block__header">Change Account Password:</p>
      <form class="profile-settings-block__form">
        <input type="password" class="profile-settings-block__form-input" placeholder="Current password">
        <input type="password" class="profile-settings-block__form-input" placeholder="New password (at least 5&#13;&#10;characters please)">
        <input type="password" class="profile-settings-block__form-input" placeholder="New password confirmation (re-type your password)">
        <button type="submit" class="btn btn--form btn--full btn--yellow"><p>SEND AN APPEAL</p></button>
      </form>
    </div>
    <div class="profile-settings-block__form-block">
      <p class="form-block__header">Change Account Email:</p>
      <form class="profile-settings-block__form">
        <input type="email" class="profile-settings-block__form-input" placeholder="Current email">
        <input type="email" class="profile-settings-block__form-input" placeholder="New email">
        <button type="submit" class="btn btn--form btn--full btn--yellow"><p>SEND AN APPEAL</p></button>
      </form>
    </div>
  </div>
</div>
