<div class="terms-block__container">
  <h2>PRIVACY POLICY</h2>
    <div class="single-news-block__container single-news-block__container--background-gray single-news-block__container--dimensions">
      <div class="single-news-block__upper-container">
        <p class="single-news-block__intro">From June there will be 5 new models! Check out their photos!</p>
      </div>
      <div class="single-news-block__text-container">
        <p class="single-news-block__text single-news-block__text--opacity">We have been looking for great models for a long time. They are all so different. And so we decided to select 5 finalists of the casting. We will be happy to show you their photos and videos of the casting with their participation!
          <br>But for the time being, we will not announce the names;) You can see the first videos with them in a week! Buy access at the best prices and enjoy watching!
          <br>Remember, these are the new girls from the streets!
          Hey! just look at these beauties:
        </p>
      </div>
    </div>
</div>
