<div class="timer-block__container">
    <div class="timer-block__half timer-block__half--styled">
        <div class="timer-block__timer-container">
            <div class="timer-block__upcoming">
                <p>UPCOMING VIDEO</p>
            </div>
            <div class="timer-block__name">
                <p>Strip Dice vs Bella Angel, Alisa Horakova, Arina</p>
            </div>
            <div class="timer-block__timer">
                <div class="timer__section timer__days">
                    <p class="timer__figures">- -</p>
                    <p class="timer__word">DAYS</p>
                </div>
                <p class="timer__figures">:</p>
                <div class="timer__section timer__hours">
                    <p class="timer__figures">- -</p>
                    <p class="timer__word">HOURS</p>
                </div>
                <p class="timer__figures">:</p>
                <div class="timer__section timer__minutes">
                    <p class="timer__figures">- -</p>
                    <p class="timer__word">MINUTES</p>
                </div>
                <p class="timer__figures">:</p>
                <div class="timer__section timer__seconds">
                    <p class="timer__figures">- -</p>
                    <p class="timer__word">SECONDS</p>
                </div>
            </div>
            <a class="btn btn--classic btn--red btn--full" href="">START WATCHING</a>
        </div>
    </div>
    <div class="timer-block__half">
        <div class="timer-block__videos-container">
            <div class="timer-block__main-video">
<!--                RENDER VIDEOTITLE HERE-->
            </div>
<!--            RENDER SCREENSHOTS HERE-->
        </div>
    </div>
</div>
