<div class="videos-block__filters filters-block">
  <div class="videos-block__selector" data-selector='["Latest", "Most popular", "Newest"]'>
    <div class="selector__label-container">
      <div class="selector__label">
        <p>Sort videos by:</p>
      </div>
      <div class="selector__choice">
        <p></p>
      </div>
    </div>
    <!--    <label for="type">Sort videos by: </label>-->
<!--    <select id="type" name="type">-->
<!--      <option>Latest</option>-->
<!--      <option>Most popular</option>-->
<!--      <option>Newest</option>-->
<!--    </select>-->
  </div>

    <div class="videos-block__selector" data-selector='["All", "Some", "None"]'>
      <div class="selector__label-container">
        <div class="selector__label">
          <p>Members:</p>
        </div>
        <div class="selector__choice">
          <p></p>
        </div>
      </div>
<!--    <label for="members">Members: </label>-->
<!--    <select id="members" name="members">-->
<!--      <option>All</option>-->
<!--      <option>None</option>-->
<!--      <option>Some</option>-->
<!--    </select>-->
  </div>

    <div class="videos-block__selector" data-selector='["Cards", "Dice", "Sport"]'>
      <div class="selector__label-container">
        <div class="selector__label">
          <p>Game type:</p>
        </div>
        <div class="selector__choice">
          <p></p>
        </div>
      </div>
<!--    <label for="game">Game type: </label>-->
<!--    <select id="game" name="game">-->
<!--      <option>Cards</option>-->
<!--      <option>Dice</option>-->
<!--      <option>Sport</option>-->
<!--    </select>-->
  </div>

    <div class="videos-block__selector" data-selector='["Spanking", "Fingering", "Slapping"]'>
      <div class="selector__label-container">
        <div class="selector__label">
          <p>Type of punishment:</p>
        </div>
        <div class="selector__choice">
          <p></p>
        </div>
      </div>
<!--    <label for="punishment">Type of punishment: </label>-->
<!--    <select id="punishment" name="punishment">-->
<!--      <option>Spanking</option>-->
<!--      <option>Fingering</option>-->
<!--      <option>Slapping</option>-->
<!--    </select>-->
  </div>
</div>
