<div class="videos-block__filters filters-block">
  <div class="videos-block__selector">
    <label for="type">Sort videos by: </label>
    <select id="type" name="type">
      <option>Latest</option>
      <option>Most popular</option>
      <option>Newest</option>
    </select>
  </div>

  <div class="videos-block__selector">
    <label for="members">Members: </label>
    <select id="members" name="members">
      <option>All</option>
      <option>None</option>
      <option>Some</option>
    </select>
  </div>

  <div class="videos-block__selector">
    <label for="game">Game type: </label>
    <select id="game" name="game">
      <option>Cards</option>
      <option>Dice</option>
      <option>Sport</option>
    </select>
  </div>

  <div class="videos-block__selector">
    <label for="punishment">Type of punishment: </label>
    <select id="punishment" name="punishment">
      <option>Spanking</option>
      <option>Fingering</option>
      <option>Slapping</option>
    </select>
  </div>
</div>
