<div class="write-us-block__container">
  <div class="header__container">
    <h2>WRITE TO US</h2>
  </div>
  <div class="write-us-block__group">
    <div class="write-us-block__half">
      <form class="write-us-block__form">
        <input type="text" class="write-us-block__form-input" placeholder="Your login or email">
        <input type="text" class="write-us-block__form-input" placeholder="Topic">
        <textarea class="write-us-block__form-input" placeholder="Message text"></textarea>
        <div id="recaptchaContainer"></div>
        <input type="submit" class="btn btn--form btn--full btn--yellow" value="SEND AN APPEAL">
      </form>
    </div>
    <div class="write-us-block__half">
<!--BENEFITS BANNER RENDER HERE-->
    </div>
  </div>
</div>
