<div class="write-us-block__container">
  <h2>WRITE TO US</h2>
  <div class="write-us-block__group">
    <div class="write-us-block__half">
      <form class="write-us-block__form">
        <input type="text" class="write-us-block__form-input" placeholder="Your login or email">
        <input type="text" class="write-us-block__form-input" placeholder="Topic">
        <textarea class="write-us-block__form-input" placeholder="Message text"></textarea>
        <input type="submit" class="btn btn--form btn--full btn--yellow" value="SEND AN APPEAL">
      </form>
    </div>
    <div class="write-us-block__half">
      <div class="write-us-block__benefits">
        <p class="write-us-block__benefits-header">MEMBER BENEFITS:</p>
        <ul class="write-us-block__benefits-list">
          <li>100% Exclusive Content</li>
          <li>Real amateur girls</li>
          <li>Members submit video ideas</li>
          <li>High Quality</li>
          <li>Regular Updates</li>
          <li>Access to bonus content</li>
        </ul>
        <p class="write-us-block__benefits-text">Not your typical pornstars that you see everywhere, but your average everyday next door girls!</p>
        <p class="write-us-block__benefits-promo">24/7 Support Day and Night</p>
      </div>
    </div>
  </div>
</div>
